@model frontend.Dominio.Horario
@{
    ViewBag.Title = "Details";
}

<h2>@ViewData["Message"]</h2>

<div>
    <h4>Alumno</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @ViewBag.Titulo01
        </dt>
        <dd>
            @Html.DisplayFor(model => model.codhorario)
        </dd>
        <dt>
            @ViewBag.Titulo02
        </dt>
        <dd>
            @Html.DisplayFor(model => model.codciclo)
        </dd>
        <dt>
            @ViewBag.Titulo03
        </dt>
        <dd>
            @Html.DisplayFor(model => model.codcurso)
        </dd>
        <dt>
            @ViewBag.Titulo04
        </dt>
        <dd>
            @Html.DisplayFor(model => model.codseccion)
        </dd>
        <dt>
            @ViewBag.Titulo05
        </dt>
        <dd>
            @Html.DisplayFor(model => model.finicio)
        </dd>
        <dt>
            @ViewBag.Titulo06
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ffinal)
        </dd>
        <dt>
            @ViewBag.Titulo07
        </dt>
        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.codhorario }) |
    @Html.ActionLink("Regreso a la lista", "Index")
</p>