@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alumnos</h2>
        <p>Gestion de Alumnos</p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Gestionar Alumnos", "Index", "Alumnos") &raquo;</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Docentes</h2>
        <p>Gestion de Docentes</p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Gestionar Docentes", "Index", "Docentes") &raquo;</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ciclos</h2>
        <p>Ciclos disponibles</p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Listar ciclos", "Index", "Ciclos") &raquo;</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Secciones</h2>
        <p>Secciones disponibles</p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Listar secciones", "Index", "Secciones") &raquo;</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cursos</h2>
        <p>Cursos disponibles</p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Listar cursos", "Index", "Cursos") &raquo;</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Horarios</h2>
        <p>Horarios disponibles</p>
        <p>
            <ul class="btn btn-default">
                <li>@Html.ActionLink("Gestiona Horarios", "Index", "Horarios") &raquo;</li>
            </ul>
        </p>
    </div>
</div>